/* #region Common Styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  padding: 0;
  border: 1px solid transparent;
  background-color: none;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #fff;
  background-color: #404bbf;
}

/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header > .container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 332px;
}
.logo {
  display: inline-flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-dark {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item {
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.contacts {
  display: flex;
  font-style: normal;
  margin-left: auto;
  align-items: center;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-item {
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
/* #endregion */

/* #region Hero */
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero > .container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.hero-title {
  width: 496px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #fff;
  letter-spacing: 0.02em;
}
.hero-btn {
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  margin-bottom: 96px;
  border: none;
}
/* #endregion */

/* #region Features */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.features-item {
  width: 264px;
}
.features-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}
.features-description {
  font-size: 16px;
  line-height: 1.5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */

/* #region Team */
.team {
  background-color: #f4f4fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding-bottom: 32px;
  width: 264px;
}
.team-ill {
  margin-bottom: 32px;
}
.team-detail {
  padding: 32px 16px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* #endregion */

/* #region Portfolio */
.portfolio {
  display: flex;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  background-color: #fff;
  width: calc((100% - 24px * 2) / 3);
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
.portfolio-ill {
  margin-bottom: 32px;
}
.portfolio-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
}
/* #endregion */

/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer > .container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
}
.footer-logo {
  margin-bottom: 16px;
}
.footer-logo .logo-light {
  color: #f4f4fd;
}
.footer-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* #endregion */
